name: Run UnitTests
on:
  pull_request:
    branches:
      - dev
      - master
    paths-ignore:
      - "version.py"
      - "requirements.txt"
      - "examples/**"
      - ".github/**"
      - ".gitignore"
      - "LICENSE"
      - "CHANGELOG.md"
      - "MANIFEST.in"
      - "readme.md"
      - "scripts/**"
    paths-ignore:
      - "version.py"
      - "requirements.txt"
      - "examples/**"
      - ".github/**"
      - ".gitignore"
      - "LICENSE"
      - "CHANGELOG.md"
      - "MANIFEST.in"
      - "readme.md"
      - "scripts/**"
  workflow_dispatch:

jobs:
  unit_tests:
    strategy:
      max-parallel: 2
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", "3.11"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt install python3-dev
          python -m pip install build wheel
      - name: Install core repo
        run: |
          pip install .
      - name: Install test dependencies
        run: |
          pip install -r requirements-dev.txt
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt install libfann-dev
      - name: Install ovos dependencies
        run: |
          pip install ovos-plugin-manager ovos-core[skills_lgpl]>=0.0.5a28
          echo "{"language": {"detection_module": "libretranslate_plug"}}" > ~/.config/mycroft/mycroft.conf
      - name: Run unittests
        run: |
          pytest --cov=. --cov-report xml tests
      - name: Upload coverage
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
        uses: codecov/codecov-action@v3
